PORT=3000
NODE_ENV=development

SESSION_SECRET=change-this-secret
SESSION_NAME=mohadraty.sid
SESSION_SECURE=false
SESSION_SAME_SITE=lax
SESSION_MAX_AGE_MS=28800000
TRUST_PROXY=false
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=350
AUTH_RATE_LIMIT_WINDOW_MS=600000
AUTH_RATE_LIMIT_MAX=25
AUTH_RATE_LIMIT_SKIP_SUCCESS=true

# Database auth mode: sql | ntlm
DB_AUTH_MODE=ntlm
DB_HOST=localhost
DB_PORT=1433
DB_USE_INSTANCE=false
DB_INSTANCE=SQLEXPRESS
DB_NAME=MohadratyDB
DB_USER=YourWindowsUser
DB_PASSWORD=YourWindowsPassword
# Used when DB_AUTH_MODE=ntlm
DB_DOMAIN=YOURDOMAIN

DB_ENCRYPT=false
DB_TRUST_CERT=true
DB_REQUEST_TIMEOUT_MS=30000
DB_POOL_MAX=10
DB_POOL_MIN=0
DB_POOL_ACQUIRE_MS=30000
DB_POOL_IDLE_MS=10000
DB_LOGGING=false

